article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}

/* General Styles */

html {
    font-size: 125%;
    background-color:rgb(3, 3, 22);
}


.wrapper, .inner-wrapper {
  margin: 0 auto;
}

.wrapper {
    margin: 0 auto;
    width: 100%;
    max-width:1440px;
}

.inner-wrapper {
  width: 85%;
  margin: 0 auto;
}

header {
    background-color:rgb(3, 3, 22);
    max-width: 1450px;
    width:100%;
    height:100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/* General Typography */

p, li {
    color:#fefefe;
    font-family: 'Monda', sans-serif;
}

li {
  font-size: 18;
}

h1, h2 {
    color:#fefefe;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Alegreya Sans', sans-serif;
    font-size:80px;
    font-weight: 400;
    padding:40px;
    line-height: 60px;
    letter-spacing: 2px;
    transform: skew(-10deg);
    transform: rotate(-5deg);
    text-shadow: 0 0 4px #fefefe, 0 0 5px #fefefe, 0 0 7.5px #fefefe, 0 0 10px blueviolet, 0 0 17.5px blueviolet, 0 0 40px blueviolet, 0 0 50px blueviolet, 0 0 75px blueviolet;
}

h2 {
    color:#fefefe;
    margin: 10px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Alegreya Sans', sans-serif;
    font-size:80px;
    font-weight: 400;
    letter-spacing: 2px;
    transform: skew(-10deg);
    transform: rotate(-5deg);
    transition: all 0.5s;
}



/* Game Instructions Section */

.game-info{
  width:35%;
  height:100%;
  border-right: 1px solid #fefefe;
}


.instructions p{
  margin:10px 15px;
}

.score {
    color:white;
}

.game-stats {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.game-stats p {
  width: 40%;
  padding:10px;
  font-size: 25px;
  text-align: center;
  border-radius: 25px;
  border: 3px solid #fefefe;
  background-color:blueviolet;
}

/* Playing Area Styles */

.game-content {
    width: 65%;
    height:100%;
    margin: 0 auto;
    background: url(../assets/background-1.png);
    background-color: rgb(3, 3, 22);
    position: relative;
    animation: dynamic-background 5s linear infinite;
}

.game-area {
  margin: 0 auto;
  width:70%;
  height:100%;
  position:relative;
}

@keyframes dynamic-background {
  from {
    background-positionX: 0;
  }
  to {
    background-positionX: 100%;
  }
}

.player-instructions {
  font-family: 'Alegreya Sans', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  color:#fefefe;
  width: 50%;
  margin: 10px auto;
  padding:5px;
  font-size: 25px;
  text-align: center;
  position: absolute;
  bottom: 25%;
  left:30%;
  /* animation: flicker-1 2s linear infinite both; */
}

.enemy {
    position: absolute;
    margin-left: -20px;
    margin-top: -20px;
    width: 35px;
    background: url(../assets/enemy.png) center center / cover no-repeat;
    height:60px;
}

.player {
    position: absolute;
    margin-left: -20px;
    width: 80px;
    height:70px;
    background: url(../assets/player.png) center center / cover no-repeat;
}

.laser {
    position: absolute;
    margin-left: -2.5px;
    height: 40px;
    width:10px;   
    background: url(../assets/laser-player.png) center center / cover no-repeat;
}


/* Module */
.module{
  background-color:blueviolet;
  margin:0 auto;
  width:80%;
  height: 60vh;
  position: absolute;
  top: 10%;
  bottom:10%;
  padding:10px;
  font-size: 25px;
  text-align: center;
  border-radius: 25px;
  border: 3px solid #fefefe;
  display: flex;
}


.results {
  width:50%;
  height:100%;
  
}

.highScores {
  width:50%;
  height:100%;
}

.highScores li {
  font-size: 18px;
  line-height: 1.1;
  padding:0;
  margin:0;
}

.highScores ol {
  margin: 0 auto;
  width:75%;
}

.results p {
  font-size: 20px;
}

form {
  width:100%;
}

button {
  font-family: 'Alegreya Sans', sans-serif;
  text-transform: uppercase;
  background-color:blueviolet;
  color:#fefefe;
  border: 3px solid #fefefe;
  border-radius: 25px;
  padding: 10px 15px;
  margin-top: 10%;
}

input[type="text"]::placeholder,
legend,
label,
input[type="submit"]{
  color:#fefefe;
  font-family: 'Monda', sans-serif;
}

legend {
  width:100%;
  text-transform: uppercase;
  font-weight: 600;
}

input[type="text"],
input[type="submit"] {
  background-color:blueviolet;
  color:#fefefe;
  border: 2px solid #fefefe;
  /* border-radius: 25px; */
  margin:0;
}

input[type="text"] {
  width:60%;
  padding:10px 15px;
}

input[type="submit"] {
  width:30%;
  padding:4px 0;
  transition: background 0.5s ease;
}

input[type="submit"]:hover,
input[type="text"]:focus,
input[type="text"]:active,
button:hover {
  background-color:rgb(45, 14, 75);
}



/* ----------------------------------------------
 * Generated by Animista on 2019-8-10 17:2:58
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation flicker-1
 * ----------------------------------------
 */
@-webkit-keyframes flicker-1 {
  0%,
  100% {
    opacity: 1;
  }
  41.99% {
    opacity: 1;
  }
  42% {
    opacity: 0;
  }
  43% {
    opacity: 0;
  }
  43.01% {
    opacity: 1;
  }
  47.99% {
    opacity: 1;
  }
  48% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  49.01% {
    opacity: 1;
  }
}
@keyframes flicker-1 {
  0%,
  100% {
    opacity: 1;
  }
  41.99% {
    opacity: 1;
  }
  42% {
    opacity: 0;
  }
  43% {
    opacity: 0;
  }
  43.01% {
    opacity: 1;
  }
  47.99% {
    opacity: 1;
  }
  48% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  49.01% {
    opacity: 1;
  }
}
